<div class="room-item">
	<div class="game-info">
		<p>Jugador</p>
	</div>
	<div class="side-bar">
		<div class="actions">
			{{#link-to "modernchess.room" room.id}}Entrar{{/link-to}}
			<button {{action "deleteClick" on="click"}}>&times;</button>
		</div>
		<div class="turn-marker {{room.turn}}"></div>
	</div>
</div>