body {
	background-color: #F3EEE7;
	width: 100%;
	font-family: Arial;
	margin: 0;
}

.ember-view {
	width: 100%;
}

#content {
	padding: 30px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}



/* Typography, text styles & buttons */
/* ----------------------------------------------------- */

a {
	color: #B36F4C;
	text-decoration: none;
}

a:hover, a:focus {
	color: #E0C5B7;
}

button {
	background-color: #222;
	border: none;
	padding: 15px 20px;
	color: #B36F4C;
	font-size: 1em;
	cursor: pointer;
}

button:hover {
	background-color: #444;
	color: #E0C5B7;
}



/* Navigation bar */
/* ----------------------------------------------------- */

#navigation-bar {
	width: 100%;
	background-color: #222;
	display: flex;
	justify-content: space-between;
}

#navigation-bar ul {
	display: flex;
	padding-left: 15px;
	margin: 0;
}

#navigation-bar ul li {
	list-style-type: none;
	padding: 15px;
}

#navigation-bar ul li a {

}



/* Forms */
/* ----------------------------------------------------- */

label {
	font-size: 1.1em;
}

input {
	height: 30px;
	border: 1px solid #DDD;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px 10px;
	margin-left: -5px;
	margin-right: -5px;
	font-size: 1em;
	color: #666;
}

/* ------- */

#registration-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#registration-form .v-separator {
	width: 8%;
}

#registration-form .h-separator {
	width: 100%;
	height: 10px;
}

#registration-form .form-column {
	width: 46%;
}



/* Room listing */
/* ----------------------------------------------------- */

#room-listing {
	width: 100%;
}

.room-item {
	background-color: #222;
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}

.room-item p {
	margin: 0;
	color: #FFF;
	padding: 15px 0 15px 20px;
}

/* Side bar */

.room-item .side-bar {
	display: flex;
}

.room-item .actions a {
	background-color: #222;
	border: none;
	padding: 15px 20px;
	color: #B36F4C;
	font-size: 1em;
}

.room-item .actions a:hover {
	background-color: #444;
	color: #E0C5B7;
}

.room-item .turn-marker {
	height: 48px;
}

.room-item .CAP {
	border-left: 8px solid #049D51;
}

.room-item .COM {
	border-left: 8px solid #A1001A;
}



/* Game styles */
/* ----------------------------------------------------- */

#game-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

#game {
	
}

#board {
	display: flex;
	flex-direction: column;
}

#board .row {
	display: flex;
}

#board .row .tile{
	width: 70px;
	height: 70px;
}

#board .row .white{
	background-color: #DBCBB6;
}

#board .row .black{
	background-color: #B8976E;
}

.tile .tile-dim {
	width: 70px;
	height: 70px;
}
/* When movements are allowed: */

.tile-move {
	background-color: rgba(255, 255, 0, 0.3);
}

.tile-take {
	background-color: rgba(255, 0, 0, 0.3);
}

.tile-convert {
	background-color: rgba(12, 160, 251, 0.3);
}

/* ------- */

#pieces-wrapper {
	position: relative;
	/* Moved dynamically on load */
}

.piece {
	position: absolute;
	z-index: 100;
	width: 70px;
	height: 70px;
}

.piece img {
	margin: 2px;
	width: 66px;
	height: 66px;
}