<nav id="navigation-bar">
	<!-- Left -->
	<ul>
		<li>{{#link-to 'index'}}Polichess{{/link-to}}</li>
	</ul>
	<!-- Right -->
	<ul>
		<li>{{#link-to 'users'}}Usuarios{{/link-to}}</li>
		<li>{{#link-to 'users.log_in'}}Log In{{/link-to}}</li>
		<li>{{#link-to 'users.sign_up'}}Sign Up{{/link-to}}</li>
	</ul>
</nav>

<div id="content">
	{{outlet}}
</div>