<nav id="navigation-bar">
	<ul>
		<li>{{#link-to 'index'}}Polichess{{/link-to}}</li>
		<li>{{#link-to 'chess.index'}}Inicio{{/link-to}}</li>
		<li>{{#link-to 'chess.rooms'}}Salas{{/link-to}}</li>
	</ul>
</nav>

<div id="content">
	{{outlet}}
</div>